{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <h3>Change Password for {{ username }}</h3>

        <form method="post">
            <div class="form-horizontal">

                <div class="form-group">
                    <div class="form-group{% if error == "mismatched" %} has-error{% endif %}">

                        <label class="control-label col-xs-2" for="new_password_1">
                            {% if error == "mismatched" %}
                                <span>mismatched</span>
                            {% else %}
                                <span>new password</span>
                            {% endif %}

                        </label>

                        <div class="col-xs-4">
                            <input class="form-control" type=password name=new_password_1 required="true">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group{% if error == "mismatched" %} has-error{% endif %}">


                        <label class="control-label col-xs-2" for="new_password_2">
                            {% if error == "mismatched" %}
                                <span>mismatched</span>
                            {% else %}
                                <span>repeat password</span>
                            {% endif %}

                        </label>

                        <div class="col-xs-4">
                            <input class="form-control" type=password name=new_password_2 required="true">
                        </div>


                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group {% if error == "incorrect" %} has-error{% endif %}">
                        <label class="control-label col-xs-2" for="old_password">
                            {% if error == "incorrect" %}
                                <span>incorrect password</span>
                            {% else %}
                                <span>current password</span>
                            {% endif %}
                        </label>

                        <div class="col-xs-4">

                            <div class="input-group">
                                <input class="form-control"
                                       type=password
                                       name=old_password
                                       required="true">
                        <span class="input-group-btn">
                             <input class="btn btn-default" type=submit value="reset">
                        </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
{% endblock %}