{% extends "layout.html" %}
{% block body %}
    <h2>Change Password for {{ username }}</h2>
    <form method="post">
        <div class="form">

            <div class="row">
                <div class="form-group{% if error == "mismatched" %} has-error{% endif %}">

                    <label class="control-label col-xs-3" for="new_password_1">
                        {% if error == "mismatched" %}
                            <span>mismatched</span>
                        {% else %}
                            <span>new password</span>
                        {% endif %}

                    </label>

                    <div class="col-xs-8">
                        <input class="form-control" type=password name=new_password_1 required="true">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group{% if error == "mismatched" %} has-error{% endif %}">


                    <label class="control-label col-xs-3" for="new_password_2">
                        {% if error == "mismatched" %}
                            <span>mismatched</span>
                        {% else %}
                            <span>repeat password</span>
                        {% endif %}

                    </label>

                    <div class="col-xs-8">
                        <input class="form-control" type=password name=new_password_2 required="true">
                    </div>


                </div>
            </div>

            <div class="row">
                <div class="form-group {% if error == "incorrect" %} has-error{% endif %}">
                    <label class="control-label col-xs-3" for="old_password">
                        {% if error == "incorrect" %}
                            <span>incorrect password</span>
                        {% else %}
                            <span>current password</span>
                        {% endif %}
                    </label>

                    <div class="col-xs-8">

                        <div class="input-group">
                            <input class="form-control"
                                   type=password
                                   name=old_password
                                   required="true">
                        <span class="input-group-addon">
                             <input type=submit value="reset">
                        </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>

{% endblock %}