{% extends "layout.html" %}
{% block body %}
    <h2>Delete time block for {{ username}} on {{ dayname }}?</h2>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

    <h3>{{ start_time|safe }} to {{ end_time|safe }}</h3>

    <form method="post" action="add">
        <dl>
            <dt>System password:
            <dd><input type="hidden" name="dayname" value={{dayname }}> </dd>
            <dd><input type="hidden" name="daynum" value={{ daynum }}></dd>
            <dd><input type="hidden" name="start_num" value={{ start_num }}></dd>
            <dd><input type="hidden" name="end_num" value={{ end_num }}></dd>
            <dd><input type="hidden" name="username" value={{ username }}></dd>

            <dd><input type=password name=password>
            <input type=submit value=Delete></dd>
        </dl>
    </form>
{% endblock %}