{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <h3>Free Time</h3>

        <form method="post" action="extend">
            <div class="form-horizontal">
                <!-- amt -->
                <div class="form-group">
                    <label class="control-label col-xs-2" for="amount">Turn TV on for</label>

                    <div class="col-xs-4">
                        <div class="input-group">
                            <select class="input-lg" name="amount">
                                <option value="10">10 minutes</option>
                                <option value="30">30 minutes</option>
                                <option value="60">1 hour</option>
                                <option value="120">2 hours</option>
                                <option value="120">4 hours</option>
                            </select>
                        </div>
                    </div>
                </div>
                {% import "password_block.html" as pw %}
                {{ pw.password_block( error=error) }}
            </div>

        </form>
    </div>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
{% endblock %}