<!doctype html>
<title>Flaskr</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<head>
    {% block head %}{% endblock %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
</head>
<div class=page>
    <div class=metanav>

        <div class="navbutton">
            <a href="{{ url_for('show_history') }}">history</a>
        </div>
        <div class="navbutton">
            <a href="{{ url_for('today') }}">today</a>
        </div>
        <div class="navbutton">
            <a href="{{ url_for('overall_schedule') }}">schedule</a>
        </div>
        <div class="navbutton">
            <a href="{{ url_for('users') }}">users</a>
        </div>
        <div class="navbutton">
            <a href="{{ url_for('donate') }}">add</a>
        </div>

        <div class="navbutton">
            <a href="{{ url_for('extend') }}">extra</a>
        </div>

        {% if not session.logged_in %}
            <a href="{{ url_for('login') }}">log in</a>
        {% else %}
            <a href="{{ url_for('logout') }}">log out</a>
        {% endif %}
    </div>
    <div id=login_block>
        {% for k, v in g.logins.items() %}
            {% if k == session.username %}
                <div id="grayout">
            {% else %}
                <div>
            {% endif %}
        <div class=login_pic>
            <a href="{{ url_for('direct', username=k) }}"><img
                    src="{{ url_for('static', filename = v + '.jpg') }}">
            </a>
        </div>
        </div>

        {% endfor %}
        </div>
        <div class="status">
            {% if session.username %}
                <div>Logged in as <a
                        href="{{ url_for('get_schedule', username = session.username) }}">{{ session.username }}</a>
                </div>
            {% else %}
                <div>Logged out</div>
            {% endif %}

            <div>The time is now {{ g.g_time }}</div>
            <div>time remaining: <span id="remaining">-inactive-</span></div>
            <div>power: <span id="power">-inactive-</span></div>
        </div>
        {% block body %}{% endblock %}
        <div id="messages">
            {% for message in get_flashed_messages() %}
                <div class=flash>{{ message }}</div>
            {% endfor %}
        </div>
        <script type=text/javascript>
            $('.flash').show().fadeOut(4000)
        </script>
    </div>
    <script type="text/javascript">
        function updateTime() {
            $.getJSON('/update', function (latest) {
                        $('#remaining').html(latest.remaining);
                        $('#power').html(latest.state)
                    }
            )

        }
        ;

        setInterval(updateTime, 1000);
    </script>

    <script type=text/javascript>
        $(function () {
                    updateTime();
                }
        )
    </script>

</div>