<!doctype html>
<title>Flaskr</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<head>
    {% block head %}{% endblock %}
</head>
<div class=page>
    <div class=metanav>

        <div class="navbutton">
            <a href="{{ url_for('show_history') }}">history</a>
        </div>
        <div class="navbutton">
            <a href="{{ url_for('today') }}">today</a>
        </div>
        <div class="navbutton">
            <a href="{{ url_for('overall_schedule') }}">schedule</a>
        </div>
        <div class="navbutton">
            <a href="{{ url_for('users') }}">users</a>
        </div>
        <div class="navbutton">
            <a href="{{ url_for('donate') }}">add</a>
        </div>

        {% if not session.logged_in %}
            <a href="{{ url_for('login') }}">log in</a>
        {% else %}
            <a href="{{ url_for('logout') }}">log out</a>
        {% endif %}
    </div>
    <div id=login_block>
        {% for k, v in g.logins.items() %}
            {% if k == session.username %}
                <div id="grayout">
            {% else %}
                <div>
            {% endif %}
        <div class=login_pic>
            <a href="{{ url_for('direct', username=k) }}"><img
                    src="{{ url_for('static', filename = v + '.jpg') }}">
            </a>
        </div>
        </div>
        {% endfor %}
        </div>
        <p>Logged in as {{ session.username }}.</p>

        <p>The time is now {{ g.g_time }}</p>

        {% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
        {% endfor %}

        {% block body %}{% endblock %}


    </div>