{% extends "layout.html" %}
{% block body %}
    {% for kid, sched in entries.items() %}
        <div class="scheduleitem">
            <h3> {{ kid }} <a href="{{ url_for('donate', username=kid) }}">+</a><br/></h3>
            max minutes = {{ sched[0] }}
            <table class=interval_table width="50%">
                {% for eachentry in sched[1] %}
                    <tr>
                        <td>{{ eachentry.day }}</td>
                        <td>{{ eachentry.add }}</td>
                        <td>{{ eachentry.on | safe }}</td>
                        <td>{{ eachentry.off | safe }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}
{% endblock %}