{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <h3>Remove update from {{ user }} on {{ next_day }}</h3>

        <form method="post"  id="mainform">
            <div class="form-horizontal">
                <!-- update_day -->

                <div class="form-group">
                    <!--- password -->
                    <div class="form-group {% if error=="password" %}has-error{% endif %}">
                        <label class="control-label col-xs-2" for="password">Enter password to delete</label>

                        <div class="col-xs-4">
                            <div class="input-group">
                                <input type="password" class="form-control" name="password" required="true">
                            <span class="input-group-btn">
                                 <input class="btn btn-default" type="submit" value=Submit>
                                     Delete
                                </input>
                            </span>
                            </div>
                        </div>
                    </div>
                    <!--- password -->
                    <input type="hidden" name="dayname" value={{ dayname }}>
                    <input type="hidden" name="daynum" value={{ daynum }}>
                    <input type="hidden" name="username" value={{ username }}>

                </div>
            </div>
        </form>
        <a class="btn"
           href="{{ url_for('get_schedule', username=user) }}">
            Cancel
        </a>

    </div>
{% endblock %}