{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <h3>Remove update from {{ user }} on {{ next_day }}</h3>

        <form method="post"  id="mainform">
            <div class="form-horizontal">
                <!-- update_day -->

                <div class="form-group">
                   {% import "password_block.html" as pw %}
                    {{ pw.password_block( error=error) }}

                    <input type="hidden" name="dayname" value={{ dayname }}>
                    <input type="hidden" name="daynum" value={{ daynum }}>
                    <input type="hidden" name="username" value={{ username }}>

                </div>
            </div>
        </form>
        <a class="btn"
           href="{{ url_for('get_schedule', username=user) }}">
            Cancel
        </a>

    </div>
{% endblock %}