{% extends "layout.html" %}
{% block body %}
    {% for kid, sched in entries.items() %}
        <div class="scheduleitem">
            <h3> {{ kid }} </h3>
            Maximum minutes = {{ sched[0] }}
            <a href="{{ url_for('donate', username=kid) }}"> add time</a>
            {% for eachentry in sched[1] %}
                <table class=intervaltable>

                    <tr>
                        <td>{{ eachentry.add }}</td>
                        <td>{{ eachentry.on }}</td>
                        <td>{{ eachentry.off }}</td>
                    </tr>
                </table>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}