{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <table class="table table-striped table-bordered">
            <tr>
                <th>user</th>
                <th>balance</th>
                <th>max</th>
                <th>updated</th>
                <th>admin</th>
            </tr>
            {% for kid in kids %}
                <tr>
                    <td><a href="{{ url_for('get_schedule', username=kid.name) }}">{{ kid.name }}</a></td>
                    <td>{{ kid.balance|safe }}</td>
                    <td>{{ kid.cap | safe}}</td>
                    <td>{{ kid.updates | safe }}</td>
                    <td>{{ kid.is_admin  | safe }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}